@use '../abstracts' as *;

.hero__button {
  border: none;
  background-image: linear-gradient(to right, $limeGreen, $brightCyan);
  padding: 1rem;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  border-radius: 3rem;
  cursor: pointer;
  color: $white;
  font-weight: 700;
  font-size: 0.9rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  margin-top: 0.7rem;
}
