@use '../abstracts' as *;

.articles {
  &__card-container {
    display: grid;
    gap: 1.6rem;
    @include responsive(tablet-sm) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
    @include responsive(laptop-lg) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
    }
    @include responsive(desktop) {
      gap: 2rem;
    }
  }
  &__card {
    transition: 0.2s ease-in;
  }
  &__card:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    // -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  &__card-link {
    text-decoration: none;
  }
  &__card-img {
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    width: 100%;
    height: 200px;
    display: block;
    object-fit: cover;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  }
  &__card-text-wrapper {
    background-color: $white;
    padding: 2rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  }
  &__card-author {
    color: $grayishBlue;
    font-size: 0.8rem;
  }
  &__card-title {
    color: $darkBlue;
    font-weight: 400;
    line-height: 1.3;
  }
  &__card-title:hover {
    color: $limeGreen;
  }
  &__card-desc {
    color: $grayishBlue;
    line-height: 1.5;
    font-size: 0.9rem;
  }
}
