@use '../abstracts' as *;

.articles {
  background-color: $VeryLightGray;
  &__container {
    padding: 3rem 1.2rem;
    padding-bottom: 6rem;
    @include responsive(tablet-sm) {
      padding: 3rem 1.5rem;
    }
    @include responsive(tablet) {
      padding: 3rem 2rem;
    }
    @include responsive(laptop) {
      margin: 0 auto;
      max-width: 1024px;
      padding: 3rem 4rem;
    }
    @include responsive(laptop-lg) {
      margin: 0 auto;
      max-width: 1200px;
      padding-bottom: 5rem;
    }
    @include responsive(desktop) {
      margin: 0 auto;
      max-width: 1400px;
      padding-top: 5rem;
      padding-bottom: 8rem;
    }
  }
}
