@use '../abstracts' as *;

.feature {
  background-color: $LightGrayishBlue;
  &__container {
    padding: 3rem 1.2rem;
    text-align: center;
    @include responsive(tablet-sm) {
      padding: 3rem 1.5rem;
    }
    @include responsive(tablet) {
      padding: 3rem 2rem;
    }
    @include responsive(laptop) {
      padding: 3rem 4rem;
      padding-bottom: 6rem;
    }
    @include responsive(laptop-lg) {
      margin: 0 auto;
      max-width: 1300px;
      text-align: left;
    }
    @include responsive(desktop) {
      margin: 0 auto;
      max-width: 1400px;
      padding-top: 5rem;
      padding-bottom: 8rem;
    }
  }
  &__icon-container {
    display: grid;
    gap: 2rem;
    margin-top: 3.9rem;
    @include responsive(tablet-sm) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      margin-top: 4.4rem;
    }
    @include responsive(laptop) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
    }
  }
  &__desc {
    @include responsive(tablet-sm) {
      margin: auto;
      max-width: 400px;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    @include responsive(laptop) {
      max-width: 550px;
    }
    @include responsive(laptop-lg) {
      margin: initial;
    }
  }
  &__icon-desc {
    @include responsive(laptop) {
      max-width: 360px;
      margin: 0 auto;
    }
    @include responsive(desktop) {
      max-width: 300px;
    }
  }
}
