@use '../abstracts' as *;

.footer {
  background-color: $darkBlue;
  &__container {
    text-align: center;
    padding-top: 2.6rem;
    padding-bottom: 1rem;
    @include responsive(tablet) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-bottom: 0;
    }
    @include responsive(laptop) {
      margin: 0 auto;
      max-width: 1024px;
      padding-top: 3rem;
      padding-bottom: 1rem;
      padding-left: 4rem;
      padding-right: 4rem;
    }
    @include responsive(laptop-lg) {
      margin: 0 auto;
      max-width: 1200px;
      padding-top: 4rem;
    }
    @include responsive(desktop) {
      margin: 0 auto;
      max-width: 1400px;
    }
  }
  &__socials-wrapper {
    color: $white;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  &__nav-list {
    @include responsive(tablet) {
      margin-top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: left;
      font-size: 0.9rem;
    }
    @include responsive(laptop-lg) {
      font-size: 1rem;
    }
  }

  &__nav-list-wrapper--mr {
    @include responsive(tablet) {
      margin-right: 3rem;
    }
    @include responsive(laptop) {
      margin-right: 9rem;
    }
  }
  &__col-1 {
    @include responsive(tablet) {
      text-align: left;
      justify-content: space-between;
      display: flex;
      flex-direction: column;
    }
  }
  &__col-3 {
    @include responsive(tablet) {
      text-align: end;
      justify-content: space-between;
      display: flex;
      flex-direction: column;
      position: relative;
      bottom: 1rem;
    }
  }
  &__copyright {
    @include responsive(tablet) {
      position: relative;
      bottom: 0.5rem;
    }
  }
}

.fab {
  margin-right: 0.8rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.fab:hover {
  color: $limeGreen;
}
.fab:nth-child(5) {
  margin-right: 0;
}
