@use '../abstracts' as *;

.header {
  &__container {
    padding: 1.2rem;
    @include responsive(tablet-sm) {
      padding: 1.5rem;
    }
    @include responsive(tablet) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    @include responsive(laptop) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      margin: 0 auto;
      max-width: 1024px;
      padding-left: 4rem;
      padding-right: 4rem;
    }

    @include responsive(laptop-lg) {
      margin: 0 auto;
      max-width: 1200px;
    }
    @include responsive(desktop) {
      margin: 0 auto;
      max-width: 1400px;
    }
  }
  &__hamburger-wrapper {
    @include responsive(laptop) {
      display: none;
    }
  }
  &__hamburger-icon {
    cursor: pointer;
    position: relative;
    top: 0.2rem;
    float: right;
  }
  &__button-wrapper {
    display: none;
    @include responsive(laptop) {
      display: block;
      text-align: end;
    }
  }
  &__wrapper-mobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
  &__logo-wrapper {
    @include responsive(laptop) {
      display: flex;
      align-items: center;
    }
  }
}
