/**
* Basic typography style for copy text
*/
@use '../abstracts' as *;

body {
  font-family: $primaryFont;
}

.header {
  &__nav-link {
    text-decoration: none;
    color: $darkBlue;
    font-size: 1.1rem;
    @include responsive(laptop) {
      font-size: 1rem;
    }
  }
}

.hero {
  &__title {
    font-weight: 300;
    color: $darkBlue;
    font-size: 2.5rem;
    line-height: 1.2;
    margin-bottom: 0;
    @include responsive(laptop) {
      margin-top: 0;
    }
    @include responsive(laptop-lg) {
      max-width: 400px;
      font-size: 3.3rem;
    }
  }
  &__desc {
    line-height: 1.5;
    color: $grayishBlue;
    font-size: 0.9rem;
    @include responsive(laptop) {
      font-size: 1rem;
    }
  }
}

.feature {
  &__title {
    font-weight: 300;
    color: $darkBlue;
    font-size: 2rem;
    line-height: 1.2;
    @include responsive(laptop-lg) {
      font-size: 2.4rem;
    }
  }
  &__desc {
    line-height: 1.5;
    color: $grayishBlue;
    font-size: 0.9rem;
    @include responsive(laptop) {
      font-size: 1rem;
    }
  }
  &__icon-title {
    font-weight: 300;
    color: $darkBlue;
    @include responsive(laptop-lg) {
      font-size: 1.3rem;
    }
  }
  &__icon-desc {
    line-height: 1.5;
    color: $grayishBlue;
    font-size: 0.9rem;
  }
}

.articles {
  &__title {
    font-weight: 300;
    color: $darkBlue;
    font-size: 2rem;
    line-height: 1.2;
    text-align: center;
    @include responsive(laptop) {
      margin-bottom: 2.5rem;
      text-align: left;
    }
    @include responsive(laptop-lg) {
      font-size: 2.4rem;
    }
  }
}

.footer {
  &__nav {
    color: $white;
  }
  &__nav-list {
    padding: 0;
  }
  &__nav-list-item {
    list-style-type: none;
    line-height: 2.6;
  }
  &__nav-list-item-link {
    text-decoration: none;
    color: $white;
  }
  &__nav-list-item-link:hover {
    color: $limeGreen;
  }
  &__copyright {
    color: $grayishBlue;
  }
}

.footer__author {
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: 0.6rem;
}

.footer__author a {
  color: $white;
}
