/**
* Basic typography style for copy text
*/
@use '../abstracts' as *;

body {
  font-family: $primaryFont;
}

.header {
  &__nav-link {
    text-decoration: none;
    color: $darkBlue;
    font-size: 1.1rem;
  }
}
